*.o
*.lo
*.la
*.tar.gz
.deps
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
src/bin/beamtrim
src/bin/buildfstmodel
src/bin/componentcompose
src/bin/kyfd
stamp-h1
